<div class="aboutpage">

<div style = "margin-top:9em">
<p class='introp'>We had to learn ourselves…that <i> it did not really matter what we are expected from life, but rather what life expected from us.</i> We needed to stop asking about the meaning of life, and instead to think of ourselves as those who were being questioned by life – daily and hourly. Our answer must consist, not in talk and meditation, but in right action and in right conduct. - Viktor E Frankl</p>

</div>