
<div class = 'everythingelse'>

	<%if @article.nil?%>
	oops nothing here!
	<%else%>

		<h1> <%= @article.title %></h1>
		<p class='author'>By TERENCE CHOW </p><p class='date'><%= @article.created_at.strftime("%B %-d, %Y") %> </p>
	
		<%= @article.text.html_safe %>
	<%end%>
</div>

<footer>
	this is the footer
</footer>

