<header>
	<div class='catchphrase'>
	<%= link_to 'An Interesting Catchphrase', '#' %>
	</div>
	<div class='articlesmenu'>
		<%= link_to 'Articles', articles_path %>
	</div>
	<div class='projects'>
		<%= link_to 'Projects', '#' %>
	</div>
	<div class='about'>
		<%= link_to 'About', about_path %>
	</div>
	
	<div class='border'>
	</div>
</header>