// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
	height:100%;
	width:100%;
}



body {
	font-style: normal;
	font-weight:300;
	min-height:100%;
	width:100%;
	margin:0 0 0 0;
	font-size: 21px;
	font-family:'museo-sans';
	line-height: 131.57894736842107%;
	color:#333;
	position:absolute;
	top:0em;
}

header{
	position:fixed;
	font-family:'acta-display';
	font-size:1.05em;
	top:0;
	left:0;
	width:100%;
	height:5em;
	z-index: 1;
	background-color:rgb(255,255,255);
	border-bottom-style:solid;
	border-width:1px;
	border-color:rgb(224,224,224);
	.catchphrase{
		height:5em;
		line-height: 5em;
		display:inline-block;
		margin-left:5%;
		width:62%;
	}
	.dropdownmenu{
		width:30%;
		display:inline-block;
	}
	.articlesmenu{
		height:5em;
		line-height: 5em;
		display:inline-block;
		width:30%;
		text-align: center;
	}
	.projects{
		height:5em;
		line-height:5em;
		display:inline-block;
		width:30%;
		text-align: center;
	}
	.about{
		height:5em;
		line-height: 5em;
		display:inline-block;
		width:30%;
		text-align: center;
	}
	a:link {color:#333;
			text-decoration:none;}
			a:visited {color:#333;
			text-decoration:none;}
			a:hover {color:#333;
			text-decoration:none;}
			a:active {color:#333;
			text-decoration:none;}
}

.everythingelse {
	margin:8em auto;
	max-width: 850px;

	h1{
		font-family: 'acta-display';
		font-size:3.142857em;
		font-weight:400;
		font-style:normal;
		line-height: 113.63636363636364%;
		margin-bottom:0.37878787878em;
	}
	p.author{
		font-size:0.9047619em;
		color:#666464;
		display:inline;
	}
	p.date{
		font-style:italic;
		font-size:0.9047619em;
		color:#666464;
		display:inline;
	}
	p.introp{
		font-size:1.42857em;
		line-height: 166.6%;
		font-weight:300;
		font-style:normal;
	}

	p{
		font-size: 1em;
		line-height: 162.8947368421%;
	}

	h2{
		font-size:1.42857em;
		font-weight: 300;
		margin-top:1.6666685em;
		margin-bottom: 0.833333333em;
	}
}


.toc{
	height:100%;
	width:100%;
	overflow: hidden;
	.titlerow{
		height:16.66666667%;
		font-weight:900;
		div{
			font-size:3em;
			line-height: 3em;
			letter-spacing: 3px;
		}
	}
	.left{
		width:17.5%;
		background-color:rgb(23,21,21);
		color:rgb(255,255,255);
		font-size:2em;
		text-align: right;
		padding-right: 0.5%;
		font-family:'acta-display';
		display:inline-block;
		vertical-align: top;
		height:100%;
		line-height:1.5em;
	}
	.middle{
		width:32.5%;
		font-family:'acta-display';
		font-size:2em;
		display:inline-block;
		vertical-align: top;
		border-right:solid;
		border-width:1px;
		height:100%;
		line-height:1.5em;
		color:rgb(23,21,21);
	}
	.right {
		width:45%;
		display:inline-block;
		height:100%;
		font-size:1em;
		line-height:1.5em;
		padding-left:1%;
		padding-top:0.5em;
		color:rgb(23,21,21);
	}
	.firstrow{
		height:16.66666667%;
	}
	.secondrow{
		height:16.66666667%;
	}
	.thirdrow{
		height:16.66666667%;
	}
	.fourthrow{
		height:16.66666667%;
	}
	.fifthrow{
		height:16.66666667%;
	}
}

footer{
	height:3em;
	line-height: 3em;
	background: #222;
	color:#fff;
	width:100%;
	text-align: center;	
	position:absolute;
	bottom:0;
}

.aboutpage{
	height:100%;
	.first{
		height:100%;
	}	
	.second{
		height:100%;
	}
}

/** above css is for >979px computers**/

/* below for landscape tablets & desktops < 979px **/
@media all and (min-width:768px) and (max-width:979px){
	body{
		.everythingelse {
			max-width:600px;
			margin-top:6em;
		}
		header{
			height:3.5em;
			.catchphrase{
				width:94%;
				height:3.5em;
				line-height:3.5em;
			}
			.dropdownmenu{
				display:none;
				width:100%;
			}
			.articlesmenu{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:3.5em;
				line-height:3.5em;
			}
			.projects{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:3.5em;
				line-height:3.5em;
			}
			.about{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				border-bottom-style:solid;
				height:3.5em;
				line-height:3.5em;
			}
		}
	}
}

/*portrait tablet*/

@media all and (max-width:767px){
	body{
		
		.everythingelse{
			margin-top:6em;
			max-width:490px;
		}

		header{
			height:4em;
			.catchphrase{
				width:94%;
				height:4em;
				line-height:4em;
			}
			.dropdownmenu{
				width:100%;
				display:none;
			}
			.articlesmenu{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:4em;
				line-height:4em;
			}
			.projects{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:4em;
				line-height:4em;
			}
			.about{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				border-bottom-style:solid;
				height:4em;
				line-height:4em;
			}
		}
	}
}

/*landscape phones*/
@media all and (max-width:767px) and (orientation:landscape){
	body{
		font-size:17px;
		.everythingelse{
			margin-top:4em;
			max-width:500px;
		}

		header{
			height:2em;
			.catchphrase{
				width:94%;
				height:2em;
				line-height: 2em;
			}
			.dropdownmenu{
				width:100%;
				display:none;
			}
			.articlesmenu{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:2em;
				line-height: 2em;
			}
			.projects{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:2em;
				line-height: 2em;
			}
			.about{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				border-bottom-style:solid;
				height:2em;
				line-height: 2em;
			}
		}
	}
}

/*portrait phones*/

@media all and (max-width:480px){
	body {
		font-size:14px;
		.everythingelse{
			margin-top:5em;
			max-width:280px;
		}

		header{
			height:3em;
			.catchphrase{
				width:94%;
				height:3em;
				line-height: 3em;
			}
			.dropdownmenu{
				width:100%;
				display:none;
			}
			.articlesmenu{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:3em;
				line-height: 3em;
			}
			.projects{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				height:3em;
				line-height: 3em;
			}
			.about{
				display:inline-block; //jquery display inline-block when button pushed
				padding-left:5%;
				width:100%;
				text-align:left;
				border-top-style:solid;
				border-width:1px;
				border-color:rgb(224,224,224);
				z-index: 1;
				background-color:rgb(255,255,255);
				border-bottom-style:solid;
				height:3em;
				line-height: 3em;
			}
		}

	}
}
